<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Inbox</title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="dashboard.css">
  
      <link rel="stylesheet" type="text/css" href="inbox.css">
   
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel='stylesheet' type='text/css'>

      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  
</head>
<body>

   <aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
    <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
    <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
     <img
           class="rounded-pill img-fluid"
           width="65"
           onerror='src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"' src="<%=user.avatar%>"
           alt="">
      <div class="ms-2">
        <h5 class="fs-6 mb-0">
          <a class="text-decoration-none" href="#"> <%=user.name%> </a>
        </h5>
        <p class="mt-1 mb-0"><%=user.usertype%></p>
      </div>
    </div>

    <div class="search position-relative text-center px-4 py-3 mt-2">
    <small style= "color: whitesmoke">Double click/tap menu items</small>
      <i class="fa fa-search position-absolute d-block fs-6"></i>
    </div>

    <ul class="categories list-unstyled">
      <li class="has-dropdown">
        <i class="uil-estate fa-fw"></i><a href="#"> Projects</a>
        <ul class="sidebar-dropdown list-unstyled">
          <li><a href="/request">Create a project</a></li>
          <li><a href="/manage">Manage projects</a></li>
        </ul>
      </li>

      <li class="has-dropdown">
        <i class="uil-setting"></i><a href="#"> Settings</a>
        <ul class="sidebar-dropdown list-unstyled">
          <li><a href="/customeraccount">Update Profile</a></li>
          <li><a href="/customerbilling">Payment Options</a></li>
        </ul>
      </li>
      <li class="">
        <i class="uil-envelope-download fa-fw"></i><a href="/inbox"> Mailbox</a>
      </li>
      <li class="">
        <i class="uil-emoji"></i><a href="/logout"> Logout</a>
      </li>
    </ul>
  </aside>

  <section id="wrapper">
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid mx-2">
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="uil-bars text-white"></i>
          </button>
          <a class="navbar-brand" href="#"><img class="logo" src="/images/MdgLogoAlpha.png"/></a>
        </div>
        <div class="collapse navbar-collapse" id="toggle-navbar">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Settings
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/customeraccount">My account</a>
                </li>
                <li><a class="dropdown-item" href="/inbox">My inbox</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Log out</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/inbox"><i class="uil-comments-alt"></i><span id="notif">0</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">
                <i data-show="show-side-navigation1" class="uil-bars show-side-btn"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  
    <h1 style="text-align: center">Customer Inbox</h1>
   
  <div class="container">
    <div class="row">
    <p></p>
  
  <p> </p>

        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">Notifications</h3>
                    <a data-id="1" target="_blank" href="/archived?data=notifications">View/Restore Archived Messages</a>
                  </div>
                  <div class="col col-xs-6 text-right">
                    
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr>
                        <th><em class="fa fa-cog"></em></th>
                        <th class="hidden-xs">ID</th>
                        <th class="hidden-xs">Subject</th>
                        <th>From</th>
                        <th>Message</th>
                    </tr> 
                  </thead>
                  <tbody>
 
              <% for (var x in notifications) { %>
                      <tr class= "tbl" style="cursor: pointer">
                        <td align="center">
                            <a title= "Mark As Read" onclick= "markRead(<%= x %>)" class="btn btn-default"><em class="fa fa-eye"></em></a>
                            <a title= "Delete Message" onclick= "deleteMessage(<%= x%>)" class="btn btn-danger"><em class="fa fa-trash"></em></a>
                          </td>
                          <td class="hidden-xs"><%= notifications[x]._id %> </td>
                          <td class="hidden-xs"><%= notifications[x].header %></td>
                          <td><%= notifications[x].notification.request.user.email %></td>
                         <td><%= notifications[x].notification.update %></td>
                       
                        </tr>        
                <% } %>
                         
                        </tbody>
                </table>

              </div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col col-xs-4">Page 1 of <%= notifications.length %>
                  </div>
                  <div class="col col-xs-8">
                    <ul class="pagination hidden-xs pull-right">
                      <li><a href="#">1</a></li>
                      <% var i = 2;
                        
                        function divs(x){
                           if(x == 10 || x == 20 
                        || x == 30 || x == 40 || x == 50){
                             return true;
                           }
                           else{
                             return false;
                           }
                         }
                        
                        
                        %>
                        
                      <% for (var x in notifications) { %>
                        
                        <% if (divs(i)) { %>
                          <li><a href="#">i</a></li>
                          <% i++ %>
                        <% } %>
                         <% } %>
                    </ul>
                    <ul class="pagination visible-xs pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

  </div>
                         </div>
  
                         </div>
                           <div class="msg" id="msg">
                             <i>x</i>
                             <h2 id="subject">Form</h2>
                             <p id="message">Form</p>
                           </div>
  <script>
'use strict'
    var opn= false;
    var notifications= '<%- notifications%>';
    var messages = JSON.parse(<%-JSON.stringify(messages)%>);

  </script>
    <script type="text/javascript" src= "notifications.js">
    </script>
   <script type="text/javascript" src= "selector.js">
     </script>
                           
    <script>
   

    var notifications=  JSON.parse(<%-JSON.stringify(messages)%>);
function markRead(count) {
  notifications[count].isRead= true;
  postrequest(notifications[count], 'update');
}

      function postrequest(req, task){
        let url= '/'
        let options = {
            method: 'POST',
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify(req)
        }

        switch(task){
          case 'update':
            url= '/updatenotification';
            call(url, options)
            break;
          
          case 'delete':
            url= '/deletenotification';
            call(url, options)
            break;
        }
          

      }

function call(url, options){
  const promise = fetch(url, options);
  promise.then(response => {
      if(!response.ok){
          console.error(response)
      } 
  }).then(result => {

    console.log("refres")
  })
}
      
function deleteMessage(x){
  var y= confirm("Are you sure you want to delete the notification? Notifications will be archived for 30 days.");
  if(y){
    postrequest(notifications[x], 'delete');
}
}
    $('.tbl').addEventListener('click', function(){
        $('.msg').classList.add('active');
    });	
    $('.tbl').addEventListener('tap', function(){
        $('.msg').classList.add('active');
    });	
    $('.msg i').addEventListener('click', function(){
        $('.msg').classList.remove('active');
    });	

     
  </script>       
</body>
</html>